@model IEnumerable<Vulnerabilty_Project.Models.UserModel>

@{
        ViewBag.Title = "Index";
}

<style>
    .card {
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
    }

    .card-header {
        text-align: center;
        background-color: #FFFFFF;
        border-bottom: 1px solid #ddd;
    }

    h2 {
        color: #290057;
        margin-top: 10px;
    }

    .btn-action a {
        color: white;
        margin-right: 5px;
        text-decoration: none;
    }

        .btn-action a:hover {
            text-decoration: underline;
        }

    #editbtn {
        background-color: #4d7e49; /* Green */

        padding: 2px 8px;
        font-size: 0.9rem;
        line-height: 1.2;
    }

    #deletebtn {
        background-color: #803c3c; /*red*/
        padding: 2px 8px;
        font-size: 0.9rem;
        line-height: 1.2;
    }

    #detailsbtn {
        background-color: #66537a; /*purple*/
        padding: 2px 8px;
        font-size: 0.9rem;
        line-height: 1.2;
    }

    #createbtn {
        background-color: #4d7e49; /* Green */
        color: #ffffff;
        padding: 2px 8px;
        font-size: 0.9rem;
        line-height: 1.2;
        position: center;
    }

    .table th {
        background-color: #29005796;
        color: #ffffff
    }

    .action-cell {
        background-color: #452864;
        padding: 2px 8px;
        font-size: 0.875rem;
        text-align: center;
        line-height: 1.2;
    }

        .action-cell a {
            color: white;
        }

    .email-text {
        color: #290057 !important;
    }
</style>
<h2 style="color: #c7c7c756; text-align: center;">Index</h2>
<div class="card container-fluid">
    <div class=" card-header">
        <h2 style="color:#290057">USER Details</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNo)
                    </th>

                    <th style="text-align: center;">AvailableActions</th>
                </tr>

                @foreach (var item in Model)
                                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        <span class="email-text">@Html.DisplayFor(modelItem => item.Email)</span>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNo)
                    </td>
                    <td class="action-cell">
                        <a href="@Url.Action("Edit", new { id = item.UserID })" class="btn" id="editbtn">Edit</a>
                        @*|*@
                        <a href="@Url.Action("Delete", new { id = item.UserID })" class="btn" id="deletebtn">Delete</a>
                        @* |*@
                        @*  <a href="@Url.Action("Details", new { id = item.UserID })" class="btn" id="detailsbtn">Details</a>*@
                    </td>
                </tr>
                                }

            </table>
        </div>

    </div>


    <div>
        <a href="@Url.Action("Create")" class="btn" id="createbtn">Create New</a>

    </div>

</div>


